html {
    -webkit-user-select: none;
    user-select: none;
}

header {
    -webkit-app-region: drag;
    display: block;
    border-bottom: 0.5px solid #707077
}

header h4 {
    margin-top: 2px;
}

main {
    margin: 10px auto;
    padding: 20px;
}

#btn-save-and-close {
    bottom: 0;
    right: 0;
}

label, p{
    color: #505050;
}


label:after {
    width: 200px
}